*{
    padding: 0;
}
.Wallet{
    text-align: center;
}
#walletNav {
height: 100%;
margin-top: 9px;
margin-bottom: 9px;


}
#content{
    background-color:  rgb(112, 223, 223);


    height: 100%;
}
#koolButtons{
    background-color: rgb(169, 255, 255);
    margin-top: 9px;
    margin-bottom: 9px;
}